<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Deep Drone: Flying Object Detector</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/leaflet.css" />
  <link rel="stylesheet" href="/static/leaflet.label.css" />
</head>
<body>
  <div class="container">
    <h3>Deep Drone: Flying Object Detector</h3>
    <div class="row">
      <div class="col-md-6">
        <!--img id="video" src="" style="width: 600px; height: 400px"/-->
        <img id="bg" src="{{ url_for('video_feed') }}" height = "450" width = "600"/>
      </div>
      <div class="col-md-6">
        <div id="map" style="width: 600px; height: 450px;"><div/>
      </div>
    </div>
    <span style="font-weight: bold;">Last classification: <span id="class"></span></span> (lat: <span id="lat"></span>, lon: <span id="lon"></span>)
  </div>
  Dirk Gorissen | @DirkGor
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/socket.io.min.js"></script>
  <script src="/static/leaflet.js"></script>
  <script src="/static/leaflet.label.js"></script>
  <script src="/static/underscore-min.js"></script>
  <script src="/static/d3.v3.min.js"></script>
  <script src="/static/deepflying.js"></script>
  <script>
    $(document).ready(function(){
      setup();
    })
  </script>
</body>
</html>
